.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 50%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1em 4em;
}

.signup-header {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1em;
}

.input {
  width: 14em;
  height: 3em;
  padding: 0 0.7em;
  margin: 0.6em;
  border: 2px solid rgba(151, 150, 150, 0.175);
  border-radius: 6px;
  font-family: Poppins;
  font-size: 1em;
  background: transparent;
  color: #504e52;
  outline: none;
  transition: all 0.3s;
}

.input:focus {
  border: 2px solid #111;
}

.submit-btn {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 7px;
  transition: all ease-in 100ms;
}

.submit-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.signin-text {
  color: #111;
  text-decoration: none;
}

.signin-text:hover {
  color: #4775da;
}
